*{
  font-family: 'Prompt';
}
.container{
  padding: 0.5em;
}
#moodCount{
  padding-bottom: 20px;
  margin-top: 0.5em;
}
.moodChart1{
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}
.search{
  display: flex;
  max-width: 100%;
  padding-top: 1em;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  & mat-form-field{
    width: 100%;
    padding-bottom: 0 !important;
  }
}

.semicircle{
  padding: 50px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.circle{
  display: flex;
  padding: 50px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.searchBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  & input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding: 10px;
    border-radius: 20px;
  }
}
.googleChart{
  & google-chart{
    width: auto;
    height: auto;
    padding: 0;
    margin-top: -20px;
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ion-card-header {
    z-index: 1;
  }
  ion-card {
    padding: 0;
  }
}
#lineChart{
  padding: 10px;
  height: 400px;
  width: auto;
}
#BarChart{
  padding: 10px;
  height: auto  ;
}
.score {
  padding: 20px;
}
.scoreHeader{
  display: flex;
  // justify-content: center;
  align-items: center;
  & img {
    padding-right: 10px;
  }
}
.button{
  width: 100%; 
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.iconCircleG{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;
  & span {
    padding: 5px;
  }
}
ion-card {
  box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.253);
  border-radius: 15px;
  margin-top: -0.5em;
}
.head{
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  & ion-icon{
    padding: 10px;
    border-radius: 15px;
    background-color: #F3F8FF;
    font-size: 25px;
  }
}