<ion-app>
  <ion-content>
    <div class="container">

  
    <div class="search">
      <span class="head"><ion-icon name="chevron-back-outline" (click)="back()"  ></ion-icon>&nbsp;&nbsp;<h1>สถิติอารมณ์</h1> </span>
      <mat-form-field appearance="legacy" [formGroup]="form">
        <!-- <mat-label>Enter a date range</mat-label> -->
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matSuffix
          #input
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker
          touchUi
          #picker
          (closed)="dialogDate()"
        ></mat-date-range-picker>
      </mat-form-field>
    </div>

    <ion-card class="score">
      <div class="scoreHeader">
        <img [src]="iconShow[x]" width="50px" />
        <div>Score : {{ this.score.toFixed(1) }}</div>
      </div>
    </ion-card>
    <ion-card id="moodCount">
      <ion-card-header>Mood Count</ion-card-header>
      <div class="semicircle">
        <canvas id="circleChart" *ngIf="cardStatus"></canvas>
      </div>
      <div class="circle" *ngIf="!cardStatus">
        <img src="../assets/icon/landing-page.png" width="40px" />
        <p>no data</p>
      </div>

      <ion-grid class="iconCircleG">
        <ion-row class="iconMood">
          <ion-col class="iconMoodCol" size="3">
            <img src='./assets/icon/051-angry.png' width="40px" />
            <ion-badge color="secondary" *ngIf="this.angry.length !== 0">{{
              this.angry.length
            }}</ion-badge>
            <span>โกรธ</span>
          </ion-col>
          <ion-col class="iconMoodCol" size="3">
            <img src='./assets/icon/051-cry.png' width="40px" />
            <ion-badge color="secondary" *ngIf="this.sad.length !== 0">{{
              this.sad.length
            }}</ion-badge>
            <span>เศร้า</span>
          </ion-col>

          <ion-col class="iconMoodCol" size="3">
            <img src='./assets/icon/051-sad.png' width="40px" />
            <ion-badge color="secondary" *ngIf="this.lonely.length !== 0">{{
              this.lonely.length
            }}</ion-badge>
            <span>เหงา</span>
          </ion-col>
          <ion-col class="iconMoodCol" size="3">
            <img src="./assets/icon/051-sad-1.png" width="40px" />
            <ion-badge color="secondary" *ngIf="this.bad.length !== 0">{{
              this.bad.length
            }}</ion-badge>
            <span>แย่</span>
          </ion-col>
          <ion-col class="iconMoodCol" size="3">
            <img src="./assets/icon/051-unamused.png" width="40px" />
            <ion-badge color="secondary" *ngIf="this.bored.length !== 0">{{
              this.bored.length
            }}</ion-badge>
            <span>เบื่อ</span>
          </ion-col>
          <ion-col class="iconMoodCol" size="3">
            <img src="./assets/icon/051-tired.png" width="40px" />
            <ion-badge color="secondary" *ngIf="this.tired.length !== 0">{{
              this.tired.length
            }}</ion-badge>
            <span>เหนื่อย</span>
          </ion-col>
          <ion-col class="iconMoodCol" size="3">
            <img src="./assets/icon/051-smile-1.png" width="40px" />
            <ion-badge color="secondary" *ngIf="this.chill.length !== 0">{{
              this.chill.length
            }}</ion-badge>
            <span>ชิล</span>
          </ion-col>
          <ion-col class="iconMoodCol" size="3">
            <img src="./assets/icon/051-smiling.png" width="40px" />
            <ion-badge color="secondary" *ngIf="this.happy.length !== 0">{{
              this.happy.length
            }}</ion-badge>
            <span style="font-size: 13px;">เป็นสุข</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!-- <div class="button">
      <ion-button (click)="toggleBarChart()">bar</ion-button>
    </div> -->
    <!-- <ion-card class="lineChart">
      <ion-card-header>Mood Chart</ion-card-header>
      <div>
        <canvas id="lineChart" *ngIf="cardStatus"></canvas>
      </div>
      <div class="circle" *ngIf="!cardStatus">
        <img src="../assets/icon/landing-page.png" width="40px" />
        <p>no data</p>
      </div>
    </ion-card> -->

    <!-- <ion-card class="googleChart">
      <ion-card-header>Mood Chart</ion-card-header>
      <google-chart
        [title]="title"
        [type]="type"
        [data]="data"
        [columns]="columnNames"
        [options]="options"
      ></google-chart>
      <div class="circle" *ngIf="!cardStatus">
        <p>no data</p>
      </div>
    </ion-card> -->

    <!-- <ion-card class="BarChart">
      <ion-card-header>Average Weekly Mood </ion-card-header>
      <div>
        <canvas id="BarChart" *ngIf="cardStatus"></canvas>
      </div>
      <div class="circle" *ngIf="!cardStatus">
        <img src="../assets/icon/landing-page.png" width="40px" />
        <p>no data</p>
      </div>
    </ion-card> --> 
  </div>
  </ion-content>
</ion-app>
