ion-title{
  font-family: 'Prompt';
  padding: 1em;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.container{
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  font-family: 'Prompt', sans-serif;
}
.nextBtn , .submitBtn{
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  background-color: #FF7854;
  // font-family: 'Prompt', sans-serif;
}
.btnAns{
  display: flex;
  flex-direction: column;
  width: 100%;
  & button{
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #4485FD;
    background-color: transparent;
  }
  & button:hover ,button:active{
    background-color:  #FF7854;
    box-shadow: 5px 5px 10px #ff79545a;
    border: none;
  }
}
#quesion{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 15px;
  text-align: center;
  background-color: #DFF1FF ;
}
.total{

}
.backBtn{
  background-color: #4485FD;
}
.total{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}