<!-- <ion-toolbar>
  <ion-title>
    Map
  </ion-title>
</ion-toolbar> -->

<ion-content>
  <div id="map">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="16"
      id="map"
    >
      <agm-marker
        *ngFor="let item of locationList"
        [latitude]="item.value.latitude"
        [longitude]="item.value.longitude"
        [title]="item.value.locationName"
        [iconUrl]="icon"
      >
      </agm-marker>
    </agm-map>
  </div>
  <div class="searchTap">
    <div class="btnBack" (click)="back()" ><mat-icon>keyboard_backspace</mat-icon></div>
    <div class="inputTap">
      <input placeholder="search" id="search" [matAutocomplete]="auto" >
      <mat-icon style="color: gray; font-size: 19px; " >my_location</mat-icon>
    </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of locationList" [value]="option.value.hospitalName">
        <p (click)="goHospital(option)">{{option.value.hospitalName}}</p>
      </mat-option>
    </mat-autocomplete>
  </div>

  <div class="mapTap">

  </div>

  <!-- <ion-slides  centerdSilde slidesPerview="auto"  *ngIf="paramlat == null">
    <ion-slide *ngFor="let item of locationList">
      <ion-card>
        <ion-card-content (click)="goHospital(item)" >
          <img src="./assets/hospital.png" class="imgHospital" >
          <div>
            <h5> {{item.value.hospitalName}}</h5>
            <p> จังหวัด{{item.value.province}}</p>
            <p> เบอร์โทรศัพท์ {{item.value.phone}}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides> -->

</ion-content>
