.searchTap{
  // z-index: 10;
  // background-color: white;
  width: 100%;
  height: 45px;
  display: flex;
  position: absolute;
  top: 1em;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
}
.searchTap input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(196, 196, 196, 0.466);
  font-family: 'Prompt';
  text-overflow: ellipsis;
}
mat-autocomplete, mat-option{
  font-family: 'Prompt';
}
.btnBack{
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(196, 196, 196, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  
}
.inputTap{
  min-width: 80%;
  display: flex;
  align-items: center;
}
.inputTap mat-icon{
  position: absolute;
  z-index: 20;
  margin-left: 65%;
}
mat-icon {
  margin-top: 5px;
}
ion-content {
    display: flex;
    flex-direction: column;
#map {
  width: 100% ;
  height: 100%;
  // display: block;
  position: absolute ;
  margin-bottom: -5px;
    &.show-map{
      opacity: 1;
    }
  }
ion-card{
  width: 300px;
  height: 200px;
  padding: 5px;
  z-index: 5;
  font-family: 'Prompt';
  & ion-card-content p, ion-card-content h5 {
    width: 100%;
    text-align: left;
  } 
  & ion-card-content h5{
    font-weight: 600;
  }
  & ion-card-content p{
    line-height: 1rem;
  }
  & ion-card-content{
    display: flex;
    justify-content: space-around;
  }

  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.349) ;
  border-radius: 10px;

}
ion-slide{
  display: flex;
  z-index: 5;
  height: 100%;
}
#search{
  display: flex;
  z-index: 10;
  // height: 100%;
}
ion-slides{
  top:65%
}
}
agm-map {
  height: 600px;
  width: 500px;
}
ion-content{
  display: flex;
}

.imgHospital{
  width: 50px;
  height: 50px;
}
.mapTap{
  display: flex;
  position: absolute;
  top: 65%;
  width: 100%;
  height: 300px;
  background-color: white;
  justify-content: center;
  align-items: center;
}