
<ion-content>
<ion-title>
  <button class="btnback" mat-icon-button><span class="material-icons" [routerLink]="['/tabs/tab1']" routerLinkActive="router-link-active" >arrow_back_ios</span></button>
</ion-title> 
<span class="text">แบบทดสอบสุขภาพจิต</span>
<br>
<div class="btnGroup">
<div class="box" (click)="test9Q()">
  <img src="./assets/depression.png" width="70px">
  แบบทดสอบความโรคซึมเศร้า
  <button class="btn" mat-raised-button>เริ่ม</button>
</div>
<div class="box" (click)="test8Q()">
  <img src="./assets/cutting.png" width="70px">
  แบบทดสอบการฆ่าตัวตาย
  <button class="btn" mat-raised-button>เริ่ม</button>
</div>
<div class="box" (click)="testST5()" >
  <img src="./assets/stress.png" width="70px">
  แบบทดสอบความเครียด
  <button class="btn" mat-raised-button>เริ่ม</button>
</div>
<div class="box" (click)="testTMHI()" >
  <img src="./assets/yoga.png" width="70px">
  แบบทดสอบตัวชี้วัดความสุข
  <button class="btn" mat-raised-button>เริ่ม</button>
</div>
</div>


</ion-content>

<!-- <div id="container">
  <h1>ข้อความ</h1>
  <p class="messages" *ngFor="let msg of messages"> 
     <span class="bot" *ngIf="msg.textBot"><p>{{msg.textBot}}</p></span> 
     <span class="user"*ngIf="msg.textUser" ><p>{{msg.textUser}}</p></span> 
  </p>
  
</div>
<ion-footer fixed >
  <form [formGroup]="form" class="form">
    <input placeholder="Type a message" formControlName="userInput" (keyup.enter)="test()" >
    <button >send</button>
  </form>
</ion-footer> -->