ion-content{
  background-color: #F4F9FE !important;
}
ion-footer {
  padding: 15px;
}
.btnGroup{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  // align-items: center;
  // flex-direction: column;
  flex-wrap: wrap;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  font-family: 'Prompt';
  border-radius: 10px;
  height: 200px;
  width: 150px;
  box-shadow: 0px 6px 10px rgba(128, 128, 128, 0.24);
  text-align: center;
}
ion-title{
  width: 100%;
  padding: 10px;
  z-index: 10;
  text-align: left;
  font-family: 'Prompt';
  font-size: 17px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  & button .material-icons{
    font-size: 20px;
  }
}
.text{
      text-align: right;
      padding: 1em;
      font-size: 25px;
      font-family: 'Prompt';
      font-weight: 600;
}
.btn{
  background-color: #3778EF;
  color: white;
  font-weight: 600;
  margin-top: 15px;
  font-family: 'Prompt';
  width: 90%;
  border-radius: 15px;
  box-shadow: none;
}
.btnBack{
  padding: 5px;
  background-color: #F6FAFF;
  margin-right: 50% !important;

}