<ion-app>
  <ion-content>
    <div class="header"><h2>document</h2></div>
 
    <ion-list>
      <ion-item *ngFor="let item of doclist">
        <ion-thumbnail slot="start">
          <ion-img src="../assets/icon/pdf.png"></ion-img>
        </ion-thumbnail>
        <ion-label (click)="download(item)">
          <h3>{{item.value.name}}</h3>
           <h3>{{item.value.date}}</h3>
           <h3>{{item.value.fequency + " " +"ครั้งต่อสัปดาห์"}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
