<!-- <ion-header></ion-header> -->
<ion-content>
  <div class="head">
    <!-- <div class="img">
      <img src="./assets/6849805.png" > 
    </div> -->
  </div>
  <div class="container">
    <h1>ยินดีต้อนรับ!</h1>
    <span class="textVice">ลงชื่อเข้าใช้เพื่อไปต่อ</span>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>อีเมล</mat-label>
        <input matInput type="text" formControlName="email" >
        <mat-error>กรุณาใส่อีเมล</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>รหัสผ่าน</mat-label>
        <input matInput type="password" formControlName="password" >
        <mat-error>กรุณาใส่รหัสผ่าน</mat-error>
      </mat-form-field>
      <!-- <div style="text-align: right;">
        <span class="forgetPass">ลืมรหัสผ่าน?</span>
      </div> -->
    </form>
    <button mat-raised-button (click)="login()">ล็อกอิน</button>
    <div style="text-align: center;">
      <h6>คุณมีบัญชีหรือยัง? <span class="signUp"  (click)="signup()"  >สมัครสมาชิก</span></h6>
    </div>
  </div>
</ion-content>
