.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1em 2em 1em 2em;
  font-family: 'Prompt';
  margin-top: -10px;
}
mat-form-field{
  width: 100%;
  font-family: 'Prompt';
  
}
button{
  margin-top: 10px;
  padding: 3px;
  font-family: 'Prompt';
  border-radius: 10px !important;
  background-color: #1479FF;
  color: white;
  box-shadow: none !important;
}
.textVice{
  padding-bottom: 1em;
  font-size: 13px;
  color: gray;
}
.forgetPass{
  font-size: 13px;
  color: #F06E62;
}
h6{
  font-size: 13px;
}
.signUp{
  font-size: 13px;
  color: #F06E62;
}
.head{
  background-image: url("src/assets/4515802.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
}

img{
  margin-top: 75%;
}

@media screen and (max-height: 825px) {
  .head {
    height:45%;
  }
}
@media screen and (max-height: 800px) {
  .head {
    height:55%;
  }
}
@media screen and (max-width: 320px) {
  img{
    margin-top: 80%;
  }
}
@media screen and (min-width: 768px) {
  img{
    margin-top: 120%;
  }
}

