.material-icons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.container {
  display: flex;
  flex-direction: column;
  max-height: 600px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  & p {
    font-family: "Prompt";
  }
}
