<div class="container">
  <span class="material-icons" mat-dialog-close>close</span>
  <!-- <iframe src="https://giphy.com/embed/26BRABnerqonwLHMc" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/effects-studiosoriginalstickers-26BRABnerqonwLHMc"></a></p> -->
  <div class="content">
    <div class="actBoxIcon" *ngIf="data.value.icon.iconName =='angry'" >
      <img src="./assets/icon/051-angry.png" width="70" >
    </div>
    <div class="actBoxIcon" *ngIf="data.value.icon.iconName =='sad'" >
      <img src="./assets/icon/051-cry-1.png"  width="70">
    </div>
    <div class="actBoxIcon" *ngIf="data.value.icon.iconName =='lonely'">
      <img src="./assets/icon/051-mute.png"  width="70">
    </div>
    <div class="actBoxIcon" *ngIf="data.value.icon.iconName =='blue'">
      <img src="./assets/icon/051-sad-1.png"  width="70">
    </div>
    <div class="actBoxIcon" *ngIf="data.value.icon.iconName =='bored'">
      <img src="./assets/icon/051-unamused.png"  width="70">
    </div>
    <div class="actBoxIcon" *ngIf="data.value.icon.iconName =='tired'">
      <img src="./assets/icon/051-tired.png"  width="70">
    </div>
    <div class="actBoxIcon" *ngIf="data.value.icon.iconName =='chill'">
      <img src="./assets/icon/051-smile.png"  width="70">
    </div>
    <div class="actBoxIcon" *ngIf="data.value.icon.iconName =='happy'">
      <img src="./assets/icon/051-smiling.png"  width="70">
    </div>
    <p>{{ data.value.text }}</p>
    <audio controls="" *ngIf="data.value.voiceUrl">
      <source [src]="data.value.voiceUrl" type="audio/wav" />
    </audio>
  </div>
</div>
