<ion-app>
  <ion-content>
    <div class="tab">
      <h2>setting</h2>
    </div>
    <br>
    <ion-list>
      <!-- <ion-item (ionChange)="toggle1()">
        <ion-thumbnail slot="start">
          <img src="../assets/icon/bell.png" />
        </ion-thumbnail>
        <ion-label>notification</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item (ionChange)="toggle2()">
        <ion-thumbnail slot="start">
          <img src="../assets/icon/calendar.png" />
        </ion-thumbnail>
        <ion-label>Test reminder</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item> -->
      <ion-item *ngIf="tgstatus2 == true">
        <ion-thumbnail slot="start">
          <img src="../assets/icon/clock.png" />
        </ion-thumbnail>
        <ion-label>Time</ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../assets/icon/settings.png" />
        </ion-thumbnail>
        <ion-label (click)="setPass()">setting password</ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../assets/icon/signboard.png" />
        </ion-thumbnail>
        <ion-label (click)="changeStatus('close')">close account</ion-label>
      </ion-item>
      <ion-item (click)="auth.SignOut()">
        <ion-thumbnail slot="start">
          <img src="../assets/icon/logout.png" />
        </ion-thumbnail>
        <ion-label>logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
