@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
ion-thumbnail {
  width: 30px;
  height: 30px;
}
img {
  width: 30px;
  height: 30px;
}
.tab {
  width: 100%;
  background-color: rgb(255, 255, 255);
  // box-shadow: 0px 5px 7px rgba(128, 128, 128, 0.39);
  padding-left: 2em;
  padding-right: 2em;
  padding: 3px;
  top: 0;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
h2 {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  font-family: 'Prompt';
  font-size: 20px;

}
