<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="grid-outline"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/moodStatic']">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <!-- <ion-label>stat</ion-label> -->
    </ion-tab-button>
    <ion-tab-button id="diary" [routerLink]="['/diarysecond']" >
      <button mat-fab color="warn" aria-label="Example icon button with a home icon">
        <ion-icon class="book" name="book-outline"></ion-icon>
      </button>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon name="newspaper-outline"></ion-icon>
      <!-- <ion-label>news</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="setting">
      <ion-icon name="person-outline"></ion-icon>
      <!-- <ion-label>setting</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
