ion-tab-bar {
  height: 65px;
  border-top: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.185);
}

ion-tab-button:active {
}
ion-icon:active,
ion-icon:hover,
ion-tab-button:active,
ion-tab-button:hover {
  color: #fb7569da !important;
}
button{
  background-color: #f86d60 !important;
  // margin-top: -20px;
  // position: absolute;
  // z-index: 20 !important;
}
button .book{
  font-size: 25px !important;
}
ion-fab-button:hover  ion-icon{
  color: white !important;
}
#diary{
  margin-top: -20px;
  position: absolute;
}