<ion-content>
  <div class="board">
    <ion-title>
      <button mat-icon-button>
        <span
          class="material-icons"
          [routerLink]="['/tabs/tab1']"
          routerLinkActive="router-link-active"
          style="font-size: 20px"
          >arrow_back_ios</span
        >
      </button>
      <span class="text">ประวัติการทำแบบทดสอบ</span>
    </ion-title>
    <div class="head">
      <div>
        <span>สวัสดี</span>
        <br>
        <span>ดูคะแนนของคุณ!</span>
      </div>

      <!-- <img src="./assets/icon/doctor2-01.png" width="200px" /> -->
    </div>
    <div class="underground">
      <mat-tab-group>
        <mat-tab label="ST5"> 
          <div class="container">
            <span *ngFor="let item of stress ; let i = index">
              <div class="box">
                <div class="content">
                  <img src="./assets/stress.png" width="50" height="50">
                  <div>
                    <span>แบบทดสอบความเครียด</span><br />
                    <span style="font-weight: 400">{{ stressT[i] }}</span>
                    <span style="display: flex; color: #4485fd">
                      <span>{{ item.totalScore + "คะแนน" }}</span>
                      &nbsp;
                      <span>{{ item.result }}</span>
                    </span>
                  </div>
                    
                </div>
              </div>
            </span>
          </div>
        </mat-tab>
        <mat-tab label="9Q"> 
          <div class="container">
            <span *ngFor="let item of depress ; let i = index">
              <div class="box">
                <div class="content">
                  <img src="./assets/depression.png" width="50" height="50">
                  <div>
                    <span>แบบทดสอบโรคซึมเศร้า</span><br />
                    <span style="font-weight: 400">{{ depressT[i] }}</span>
                    <span style="display: flex; color: #4485fd">
                      <span>{{ item.totalScore + "คะแนน" }}</span>
                      &nbsp;
                      <span>{{ item.result }}</span>
                    </span>
                  </div>
                </div>
              </div>
            </span>
          </div>
           </mat-tab>
        <mat-tab label="8Q"> 
          <div class="container">
            <span *ngFor="let item of suicide ; let i = index">
              <div class="box">
                <div class="content">
                  <img src="./assets/cutting.png" width="50" height="50">
                  <div>
                    <span>แบบทดสอบการฆ่าตัวตาย</span><br />
                    <span style="font-weight: 400">{{ suicideT[i] }}</span>
                    <span style="display: flex; color: #4485fd">
                      <span>{{ item.totalScore + "คะแนน" }}</span>
                      &nbsp;
                      <span>{{ item.result }}</span>
                    </span>
                  </div>
                </div>
              </div>
            </span>
          </div>
           </mat-tab>
        <mat-tab label="THMI15">
          <div class="container">
            <span *ngFor="let item of happiness ; let i = index">
              <div class="box">
                <div class="content">
                  <img src="./assets/yoga.png" width="50" height="50">
                  <div>
                    <span>แบบทดสอบตัวชี้วัดความสุข</span><br />
                    <span style="font-weight: 400">{{ happinessT[i] }}</span>
                    <span style="display: flex; color: #4485fd">
                      <span>{{ item.totalScore + "คะแนน" }}</span>
                      &nbsp;
                      <span>{{ item.result }}</span>
                    </span>
                  </div>
                </div>
              </div>
            </span>
          </div>
           </mat-tab>
      </mat-tab-group>

      
    </div>
  </div>
</ion-content>
