.board{
  height: 100%;
  background-image: linear-gradient(to left , #4D9BF5, #2D78FF);
}
.underground{
  background: white;
  min-height: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 2em;
  box-shadow: -10px 0px 30px rgba(128, 128, 128, 0.493);
}
.container{
  width: 100%;
  display: flex;
  padding: 1.5em;
  flex-direction: column;
  justify-content: center;
 
}
ion-title{
  width: 100%;
  padding: 20px;
  z-index: 10;
  font-family: 'Prompt';
  font-size: 17px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  color: white;
  & button{
    font-size: 20px;
    margin-right: 2em;
  }
 
}
.box{
  font-family: 'Prompt';
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.151);
  margin-top: 15px;
  font-weight: 600;
}
.content{
  display: flex;
}

.head{
  display: flex;
  width: 100%;
  // justify-content: center;
  align-items: center;
  font-family: 'Prompt';
  color: white;
  padding: 1.5em;
  & span{
    font-size: 20px;
  }
  & img{
    position: absolute;
    margin-left: 10em;
    margin-top: -1;
  }
}


