<ion-app>
  <ion-content>
    <div class="backHead">
      <div class="header">
        <div class="boximg">
          <span>
            <h6>{{currentDate}}</h6>
            <span>สวัสดี {{username}}!</span><br />
            <span>วันนี้คุณเป็นไงบ้าง?</span>
          </span>
          <!-- <img src="../assets/icon/doctor2-01.png" width="200px" /> -->
        </div>
        <div class="hellobox" *ngIf="this.score" >
          <div class="scorebox">
            <img [src]="img[x]" width="100px" />
            <div>
              {{text}}<br />
              <span style="margin-top: 20px ; font-size: 25px ; color: #F86D60;" *ngIf="this.score !== 0"
                >{{this.score.toFixed(0)}}</span
              ><br />
              <span style="margin-top: 15px" *ngIf="this.score == 0"
                >{{"-"}}</span
              >
              <span style="font-size: 14px; color: gray">Diary Score</span>
            </div>
          </div>
          <i class="fas fa-chevron-right" (click)="diary()"></i>
        </div>
      </div>
    </div>

    <div class="contentBox">
      <div class="headerMenu">
        <h5>เมนู</h5>
      </div>
      <div class="menubar">
        <!-- <div class="menu" (click)="route('Diary')" ><img src="/assets/icon/notebook.png" width="40"><p>Diary</p></div>
            <div class="menu" (click)="route('Mood Static')"><img src="/assets/icon/stats.png" width="40"><p>Mood stat</p></div> -->
        <div class="menu mental" (click)="route('MentalHealth')">
          <img src="/assets/mental-health.png" />
          <p style="font-size: 11px">แบบทดสอบ</p>
        </div>
        <div class="menu his" (click)="route('history')">
          <img src="/assets/file.png" />
          <p  style="font-size: 11px">ประวัติ</p>
        </div>
        <div class="menu docs" (click)="route('Doc')">
          <img src="/assets/doc.png" />
          <p  style="font-size: 11px">เอกสาร</p>
        </div>
        <div class="menu hospital" (click)="route('Hospital')">
          <img src="/assets/placeholder.png" />
          <p  style="font-size: 11px">โรงพยาบาล</p>
        </div>
      </div>

      <div class="headerMenuflex">
        <h1>ข่าวสารสุขภาพจิต</h1>
        <h1 class="seeall" (click)="news()">ดูทั้งหมด</h1>
      </div>
      <div>
        <ion-slides [options]="sliderConfig">
          <ion-slide *ngFor="let item of newsList">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <p class="type">{{item.value.createDT}}</p>
                  {{item.value.topic}}
                </ion-card-title>
              </ion-card-header>
              <!-- <ion-card-content>
                <p class="artc">{{item.value.article}}</p>
              </ion-card-content> -->
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </ion-content>
</ion-app>
<!-- *ngFor="let item of newsList" -->
