
.backHead{
  background-color: #e5e3e35b !important;
  z-index: 10;
}
.menubar{
  width: 100%;
  height: 100px;
  justify-content: space-between;
  // overflow-x: hidden;
  display: flex;
  // flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 10px;

}
.menu{
  width: 70px !important ;
  height: 70px;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Prompt';
  }& img {
    padding-top: 5px;
    padding: 20px;
    border-radius: 25px;
  }
}

.menu img:hover {
  background-color:#fb7569da;
  // color: white;
}

.iconMood{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  & .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    
  }
}

.docContent{
  width: 45px;
  height: 130px;
  padding: 20px;
  display: flex;
}
.doc{
  height: auto;
  margin-left: -5px;
}
.articleContent{
  padding: 20px;
}
.article{
  font-family: 'Prompt';
  // width: 300px;
  // margin-left: -15px;
}

.header{
   box-shadow: none;
   padding: 2em;
   min-height: 290px;
   background-image: url("src/assets/8.jpg");
   background-color: #F6FAFF;
   background-position: right;
   background-size: cover;
  //  background-image: linear-gradient(to left , #4D9BF5, #2D78FF);
   z-index: floor($number: (2));
}
.boximg{
  display: flex;
  align-items: center;
   & span  {
     font-weight: 600;
     color: #1A3C69;
     font-family: 'Prompt';
     z-index: 10;
     font-size: 30px;
   }
   & img {
     position: absolute;
     top: 0;
     right: 0;
     padding: 5px;
   }
}
.headerMenu  h1 {
   font-weight: 700;
   font-size: larger;
   font-family: 'Prompt';
   background-color: transparent;
}
.headerMenu  h5{
  font-family: 'Prompt';
  margin-bottom: 1em;
  font-weight: 700;
}

.headerMenuflex {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'Prompt';
  flex-direction: row;
  justify-content: space-between;
  & h1 {
      font-weight: 700;
      font-size: larger;
  }  & .seeall{
    color: #bebebe;
    font-size: small;
  }
  
}
.contentBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
  margin-top: 1em;
  // position: absolute;
  // background-color: #e5e3e35b !important;
  // height: 100%;
}

.hellobox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83% ;
  height: 150px ;
  background-color:white;
  box-shadow:0px 10px 22px rgba(128, 128, 128, 0.171);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-family: 'Prompt';
  position: absolute;
  margin-top: 20px;

  // margin-top: 20%;
  & .scorebox{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    font-size: 20px;
    & img{
      padding-right: 20px;
      width: 120px;
    }& div{
      width:150px;
    }
 
  }
  
}

i{
  color: rgb(151, 151, 151);
  font-size: 20px;
  padding-right: 20px;
}
// #article{
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: -webkit-box;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;
// }
.mental img{
  // background-color: #1479FF;
  background-image: linear-gradient(to left , #1479FF ,#358dff);
  box-shadow: 0px 10px 15px #B8D7FF;
}
.his img{
  // background-color: #37DBE6;
  background-image: linear-gradient(to left , #66e5ee ,#37DBE6);
  box-shadow: 0px 10px 15px #BEF3F7;
}
.docs img{
  // background-color: #14A5FF;
  background-image: linear-gradient(to left , #3eb5ff ,#14A5FF);
  box-shadow: 0px 10px 15px #E6F5FF;
}
.hospital img{
  // background-color: #14D2FF;
  background-image: linear-gradient(to left , #4adeff ,#14D2FF);
  box-shadow: 0px 10px 15px #B8F2FF;
}


.news{
  // width: 270px;
  // height: 150px;
  background-color: #1479FF;
}
ion-card-title{
  font-family: 'Prompt';
  text-align: left;
  font-size: 17px;
  font-weight: 600;
  color: white;
}
ion-card{
  background-image: linear-gradient(to left, #1479FF , #4a9bff);
  height: 170px;
  padding-bottom: 2em;
  box-shadow: none !important;
  border-radius: 25px;
}

.type{
  font-size: 15px;
  font-weight: 300;
}
ion-card-content{
  text-align: left;
  color: white;
  // white-space: nowrap;
  // overflow: hidden;
  
}
.artc{
  position: absolute;
  text-overflow: ellipsis;
  padding-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Prompt';
  width: 200px;
}