<ion-toolbar>
  <ion-title> ข่าวสารสุขภาพจิต </ion-title>
</ion-toolbar>
<ion-content>
  <div class="container">
    <ion-card *ngFor="let item of newsList" (click)="readNews(item)">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-icon name="time-outline"></ion-icon>
          {{item.value.createDT}}
        </ion-card-subtitle>
        <ion-card-title>{{item.value.topic}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <span id="article" [innerHTML]="item.value.article" >{{item.value.article}}</span>
      </ion-card-content>
    </ion-card><br>
  </div>
</ion-content>
