*{
  font-family: 'Prompt';
}
ion-title{
  color: #1479FF;
  font-weight: 600;
  text-align: center;
}
ion-toolbar{
  padding: 5px!important;
  box-shadow: none !important;
  // border-bottom-left-radius: 30px;
  // border-bottom-right-radius: 30px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.144) !important;
}

ion-card{
 height: 170px !important;
 margin-bottom: 20px;
 box-shadow:none !important;
 border: 2px solid #dbeafd;
 border-radius: 25px;
}
#article{
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-bottom: 2em;
}
.article{
  padding: 1em;
  height: auto;
}
.container{
  padding: 1em;
}
ion-card-subtitle{
display: flex;
align-items: center;
}
ion-icon{
  margin-right: 5px;
}