.uid{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.voicepad{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-right: 1em;
  background-color: transparent !important;
  box-shadow: none;
}
// .btnNext{
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   flex-direction: column;
//   width: 100%;
//   height: 80%;
//   padding: 5px;
//   & ion-button{
//     width: 100%;
//     margin-top: 20px;
//   }
 
// }
.messageL{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;

  }
.btnNext2{
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & h6{
    font-family: 'Prompt';
    color:  #1574F6;

  }
}
.btnRec{
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  width: 100%;
  padding: 5px;
  & ion-button{
    width: 100%;
  }
}
.activity{
  padding-bottom: 30px;
  padding-top: 30px;
}
.iconMood{
  display: flex;
  justify-content: center;
  align-items: center;
  & .iconMoodCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    & span {
      padding-top: 5px;
      font-family: 'cloud';
      font-weight: lighter;
    }
  }
}
.actBox{
  padding: 20px;
  box-shadow: 5px 7px 10px rgba(128, 128, 128, 0.226);
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}
#ion-padding{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: #FC4C59;
  background-color: #FC4C59;
}
.activityBar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  
}
ion-slides{
  height: 100%;
}
form{
 height: 100%;
 }
.slide3{
  display: flex;
  flex-direction: column;
  background-color: #EEEDE5;
  height: auto !important;
  min-height: 100%;
  // background-image: url("src/assets/PngItem_1263904.png");
  // background-position: center;
  // background-size: contain;
  & ion-card img{
    width: 50px;
  }
  & ion-card{
    width: 100%;
    height: auto;
  }
}
.slide2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  padding-bottom: 1em;
  background-color: white;
  // background-image: linear-gradient(to bottom , white , #f6faff59);
  & h1{
    text-align: center;
    font-family: 'Prompt';
    font-size: 20px;
    font-weight: 600;
    color:#193B68;
  }
  & .acitivities{
    width: 100%;
    height: 500px;
  }
  &ion-grid{
    width: 100%;
  }
  & mat-expansion-panel{
    // background-color: #F5F9FF;
    box-shadow: none !important;
    margin-top: 0.5em;
    border: 1px solid #afb6c096 ;
    border-radius: 6px;
  }
  & mat-accordion{
    box-shadow: none !important;
  }
  & mat-panel-title{
    font-family: 'Prompt';
  }
  & .slide2Topic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    & ion-icon{
      font-size: 35px;
      color: rgb(187, 184, 184);
    }
  }
}
.slide3 , .slide2{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.slide1{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  & img {
    width: 150px !important;
  } & .SayHi{
    margin-top: 1em;
    text-align: center;
    // padding: 3em;
    color: white;
    font-weight: 600px;
    font-family: 'Prompt';
  }
  & h1{
    margin-top: 1em;
    text-align: center;
    color: white;
    font-weight: 600px;
    font-family: 'Prompt';
  }
}
#imgSlide1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iconMoodCol:hover{
  background-color: rgba(0, 140, 255, 0.384);
  border-radius: 1em;
}
.iconMoodCol:active{
  background-color: rgba(0, 140, 255, 0.384);
  border-radius: 1em;
}
.alertClass{
  font-family: 'Prompt';
}
.example-section{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: center;
  // align-items: center;
  & span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  & img{
    width: 60px !important;
  }
}
.example-margin{
  padding: 5px;
}
.rangeBig{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.range {
box-shadow: none!important;
// background-color: transparent !important;
border-bottom: none;
display: flex;
flex-direction: column;
margin-bottom: 6em;
background-color: white;
border-radius: 20px;
height: 35px !important;
width: 100%;
// margin-right: 1em;
// margin-left: 2.5em;
}
 ion-range{
  margin-top: -10px;
 }
#act:active{
  background-color: #fb7569;
  color: white !important;
  & label ion-icon {
  color: white !important;

  }
}
#btn2  {
  width: 100%;
  padding: 5px;
  box-shadow: 0px 5px 10px #ACCCF9;
  background-color: #1574F6;
  color: white;
  font-family: 'Prompt';
  margin-bottom: 1em;
  border-radius: 10px;
}
#btn1{
  width: 100%;
  padding: 5px;
  box-shadow:none;
  background-color: #fb7569;
  color: white;
  font-family: 'Prompt';
  margin-bottom: 1em;
  border-radius: 10px;
}
#btn3{
  box-shadow: 0px 5px 10px #ACCCF9;
  background-color: #1574F6;
  color: white;
}
.slide3Topic{
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 3em;
  margin-top: 1.95px;
  padding: 1.9em;
  & ion-icon{
    font-size: 35px;
    color: rgb(187, 184, 184);
  }
  & .mic{
    color: #fb7569 !important;

  }
  & button{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
 
ion-textarea{
  // background-color: #fb7569;
  min-height: 300px;
  height: 100%;
  font-family: 'Prompt';
}
.message{
  padding: 2em;
  height: 100%;
}

.iconDiary{
  width: 100%;
  display: flex;
  justify-content: center;
}
.back{
  width: 100%;
  padding: 2em;
  & ion-icon{
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    font-size: 30px;
    color: #193B68;
  }
}
#back3{

    padding: 10px;
    background-color: white;
    border-radius: 15px;
    font-size: 30px;
    color: #193B68;

}
#act{
  & label{
    padding: 5px !important;
    font-family: 'Prompt';
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  & ion-icon{
    font-size: 25px;
    // margin-left: auto;
    color: #fb7569;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid #fb7569;
  }
  width: 30%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #fb7569 ;
  margin-top: 1em;
  color: #fb7569;
  font-size: 13px;
}
.actBoard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.imgBTAct{
  margin-left: 4em;
}