<ion-content>
  <div id="ion-padding">
    <form [formGroup]="form" class="example-form">
      <div class="slide1" *ngIf="slide1">
        <div class="back">
          <ion-icon
            name="chevron-back-outline"
            (click)="backtoDiary()"
          ></ion-icon>
        </div>
        <h1 class="SayHi">วันนี้รู้สึกยังไงบ้าง?</h1>
        <div id="imgSlide1">
          <img [src]="iconShow[indexIcon]" />
          <h1>{{ icon[range.value] }}</h1>
        </div>
        <ion-grid> </ion-grid>
        <div class="rangeBig">
          <div class="range">
            <ion-range
              #range
              (ionChange)="moodRange(range.value)"
              min="0"
              max="7"
              step="1"
              snaps="true"
              value="0"
            ></ion-range>
            <button id="btn1" (click)="goslide2()" mat-raised-button>
              ถัดไป
            </button>
          </div>
        </div>
      </div>

      <div class="slide2" *ngIf="slide2">
        <div class="acitivities">
          <div class="slide2Topic">
            <ion-icon
              id="back3"
              name="chevron-back-outline"
              (click)="prevslide1()"
            ></ion-icon>

            <h1>วันนี้ทำอะไร มาบ้าง?</h1>
            <ion-icon
              name="chevron-forward-circle"
              style="color: #1479ff"
              (click)="goslide3()"
            ></ion-icon>
          </div>
          <div class="actBoard">
            <div
              id="act"
              *ngFor="let choice of checks; let i = index"
              class="col-md-2">
              <label>
                <input
                  style="display: none"
                  type="checkbox"
                  [value]="choice.description"
                  (change)="onCheckChange($event)"
                />
                {{ choice.description }}
                <ion-icon [name]="iconAct[i]"></ion-icon>
              </label>
            </div>
          </div>
          <br />
          <button id="btn2" (click)="goslide3()" mat-raised-button>
            ถัดไป
          </button>
        </div>
      </div>

      <div class="slide3" *ngIf="slide3">
        <div class="slide3Topic">
          <ion-icon
            id="back3"
            name="chevron-back-outline"
            (click)="prevslide2()"
          >
          </ion-icon>
          <button
            mat-mini-fab
            (click)="initiateRecording()"
            *ngIf="!recording"
            aria-label="Example icon button with a home icon"
          >
            <ion-icon class="mic" name="mic"></ion-icon>
          </button>
          <button
            mat-mini-fab
            (click)="stopRecording()"
            *ngIf="recording"
            aria-label="Example icon button with a home icon"
          >
            <ion-icon class="mic" name="pause"></ion-icon>
          </button>
        </div>
        <div class="iconDiary">
          <img [src]="iconShow[indexIcon]" width="70px" />
        </div>
        <div class="message">
          <ion-textarea
            #message
            maxlength="1000"
            formControlName="text"
            placeholder="วันนี้เกิดอะไรขึ้น..."
          >
          </ion-textarea>
          <span class="messageL" style="color: gray"
            >{{ message.value.length }} / 1000</span
          >

          <button style="display: none" #voiceRec (click)="next()">
            voice recording<ion-icon name="mic-outline"></ion-icon>
          </button>

          <ion-card class="voicepad" *ngIf="card == true">
            <ion-card-content class="voicepad">
              <img src="./assets/icon/radio.png" />
              <p *ngIf="status !== null">{{ status }}</p>
              <br />
              <audio controls="" *ngIf="url">
                <source [src]="sanitize(url)" type="audio/wav" />
              </audio>

              <!-- <div class="btnRec">
                <ion-button (click)="initiateRecording()" *ngIf="!recording"
                  >record</ion-button
                >
                <ion-button (click)="stopRecording()" *ngIf="recording"
                  >stop</ion-button
                ><br />
              </div> -->
            </ion-card-content>
          </ion-card>
        </div>

        <div class="btnNext2">
          <button
            mat-fab
            [disabled]="form.invalid"
            id="btn3"
            (click)="submit()"
          >
            <mat-icon> done </mat-icon>
          </button>
          <h6>บันทึก</h6>
        </div>
      </div>
      <!-- <ion-item class="activity">
        <ion-label>activity</ion-label>
        <ion-select multiple="true" formControlName="activity">
          <ion-select-option  *ngFor="let item of activity">{{
            item
          }}</ion-select-option>
        </ion-select>
      </ion-item> -->
    </form>
  </div>
</ion-content>
