<ion-content>
  <ion-title><p>แบบทดสอบการฆ่าตัวตาย</p></ion-title>
  <div class="container">
    <div *ngFor="let item of quesionArr">
      <div id="quesion" *ngIf="item[Qindex]?.value.quesion" >{{item[Qindex]?.value.quesion}}</div>
      <div class="btnAns" >
        <div class="btnAns" *ngIf="item[Qindex]?.value.quesion" >
          <button *ngFor="let item of arrMinor"  (click)="calScore(item.ans1.score,$event)">{{item?.ans1.ans}}</button>
          <button *ngFor="let item of arrMinor"  (click)="calScore(item.ans2.score,$event)">{{item?.ans2.ans}}</button>
          <!-- <button   (click)="calScore($event)">next</button> -->
        </div>
        <div class="total" *ngIf="totalcard">
          <img src="./assets/animate-balloons.gif" width="250"> 
          <h1>คะแนนของคุณ</h1>
          <h1>{{total}}</h1>
          <p>{{suicideResult}}</p>
        </div>
        <div *ngIf="Qindex==item.length" id=send >
          <h2>ส่งคำตอบของคุณ</h2>
          <button class="submitBtn"(click)="submit()">ส่ง</button>
        </div>
        <button class="submitBtn backBtn"*ngIf="totalcard" (click)="backtoMain()">กลับ</button>
      </div>
    </div>
  </div>
</ion-content>