<!-- <ion-header></ion-header> -->
<ion-content>
  <div class="container">
    <div class="topicText">
      <h1>สร้างบัญชี</h1>
      <h2>Mood Tracker Application</h2>
    </div>
    <form [formGroup]="form">
      <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="form" errorMessage="Name is required.">
          <ng-template  matStepLabel>ข้อมูลติดต่อ</ng-template>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="อีเมล"
              formControlName="email"
            />
            <mat-icon matPrefix>email</mat-icon>
            <!-- <mat-error *ngIf="emailuser.invalid">{{
              getErrorMessage()
            }}</mat-error> -->
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="รหัสผ่าน"
              formControlName="password"
            />
            <mat-icon matPrefix>lock</mat-icon>
            <!-- <mat-error *ngIf="pass.invalid">{{ getErrorMessage() }}</mat-error> -->
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="ชื่อผู้ใช้"
              formControlName="user"
            />
            <mat-icon matPrefix>person</mat-icon>
            <!-- <mat-error *ngIf="emailuser.invalid">{{getErrorMessage()}}</mat-error> -->
            <mat-hint></mat-hint>
          </mat-form-field>
          <!-- <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="โทรศัพท์"
              formControlName="phone"
            />
            <mat-icon matPrefix>smartphone</mat-icon>
            <mat-error *ngIf="phone.invalid">{{ getErrorMessage() }}</mat-error>
            <mat-hint></mat-hint>
          </mat-form-field> -->
        </mat-step>

        <mat-step [stepControl]="form" errorMessage="Name is required.">
          <ng-template matStepLabel>ข้อมูลส่วนตัว</ng-template>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="ชื่อ"
              formControlName="firstname"
            />
            <!-- <mat-icon matPrefix>email</mat-icon> -->
            <!-- <mat-error *ngIf="fname.invalid">{{ getErrorMessage() }}</mat-error> -->
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="นามสกุล"
              formControlName="lastname"
            />
            <!-- <mat-icon matPrefix>email</mat-icon> -->
            <!-- <mat-error *ngIf="lname.invalid">{{ getErrorMessage() }}</mat-error> -->
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-radio-group
            formControlName="gender"
            aria-label="Select an option"
          >
            <mat-radio-button value="หญิง">หญิง</mat-radio-button>
            <mat-radio-button value="ชาย">ชาย</mat-radio-button>
          </mat-radio-group>
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="อายุ"
              formControlName="age"
            />
            <!-- <mat-icon matPrefix>smartphone</mat-icon> -->
            <!-- <mat-error *ngIf="age.invalid">{{ getErrorMessage() }}</mat-error> -->
            <mat-hint></mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>อาชีพ</mat-label>
            <mat-select formControlName="career" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let item of career" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="careers.hasError('required')">กรุณาเลือกตัวเลือก</mat-error> -->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>การศึกษา</mat-label>
            <mat-select formControlName="education" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let item of education" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="edu.hasError('required')" >กรุณาเลือกตัวเลือก</mat-error> -->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>สถานภาพสมรส</mat-label>
            <mat-select formControlName="maritialStatus" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let item of status" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="maritial.hasError('required')">กรุณาเลือกตัวเลือก</mat-error> -->
          </mat-form-field>

          <button mat-raised-button (click)="Register()">สมัคร</button>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
</ion-content>
