form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5em;
  background-color: #D9E6FB;
}
.container{
  // padding: 1em;
}
 mat-form-field{
  margin-top: 20px;
  width: 100%;
  border-radius: 20px!important;
}
mat-form-field, 
mat-error,
mat-radio-button, 
mat-option,ng-template,mat-select,mat-step {
  font-family: 'Prompt';
}
mat-error,mat-hint{
  font-size: 13px;
  margin-top: 19px;
}
mat-radio-button{
  padding: 15px;
  margin-top: 20px;
}
mat-icon {
  color: gray;
}
button{
  margin-top: 2em;
}
.topicText{
  font-weight: 700;
  font-family: 'Prompt';
  align-items: center;
  // margin-top: 5em;
  padding: 1em;

}
.topicText h1{
  font-size: 35px;
  color: #1479FF;
}
.topicText h2{
  width: 300px;
}
button{
  width: 100%;
  color: white;
  box-shadow: none !important;
  padding: 5px;
  background-color: #1479FF;
  border-radius: 10px !important;
  font-family: 'Prompt';
}
form {
  margin-top: -1.5em;
}