
.actBox{
  display: flex;
  padding: 10px;
  // box-shadow: 5px 7px 10px rgba(128, 128, 128, 0.226);
  border-bottom: 1px solid rgb(179, 178, 178);
  // border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  // height: 100%;
  cursor: pointer;
  justify-content: space-between;
}
.createBtn{
  position: fixed;
}
.iconDT{
  
  & ion-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size:30px;
    color:red !important ;
    // width: 50%;
  }
}
.actBoxIcon{
  padding-right: 20px;
  align-items: center;
}
.actBoxText{
  display: flex;
  width: 80%;
  flex-direction: column;
  font-family: 'Prompt';
}
.textbox{
  display: flex;
  width: 100%;
  // padding: 2em;
}
.action{
  color: gray;
  margin-top: -20px;
}
.matMenu{
  width: 150px;
}

ion-content{
  padding: 0;
}
.ion-padding{
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-height: auto;
  height: 300px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  border-top-left-radius: 40px;
  border-top-right-radius:40px;
  margin-top: -10px;
  padding-bottom: 3em;
  animation: alternate;
  animation-duration: 100s;
}
ion-calendar{
  align-items: center;
  border-radius: 5%;
  padding-top: 2em;
  height: 400px;
  width: 300px;
}
.calender{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:70%;
  padding: 1.5em;
  flex-direction: column;
  padding-bottom: 3em;
  color: white;
  // padding-left: 3em;
  // background-size: contain;
  & span {
    display: flex;
    align-items: center;
    & ion-icon {
      font-size: 20px ;
      padding-right: 15px;
    }
  }

}
.diaryBox{
  background-image: url("/assets/sss1.png");
   width: 100%;
   height: 100%;
  //  background-size: cover;
  // background-color:#86aee6 ;

}
// .carlender h1{
//   color: white;
// }
.calendarTopic{
  display: flex;
  align-items: center;
  width: 100%;
  & h1{
    font-family: 'Prompt';
    font-weight: 600;
    margin-left: 0.5em;
  }
  & span{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #F0F6FE ;
    color: #193B68;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .act{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
  }
}
.textAct{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.btnG{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#btnbac{
  color: black;
  padding: 5px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 17em;
}