<ion-content>
  <div class="diaryBox">
    <div class="calender">
      <div id="btnbac">
        <ion-icon name="chevron-back-outline" (click)="backtoMain()"></ion-icon>
      </div>
      <!-- <span class="calendarTopic">
        <h1>ไดอารี่ของคุณ</h1>
      </span> -->
      <ion-calendar
        [(ngModel)]="date"
        [type]="type"
        [format]="'YYYY-MM-DD'"
        [options]="options"
        (click)="selectDate(date)"
      >
      </ion-calendar>
      
    </div>

    <div class="ion-padding">
      <div class="actBox" *ngFor="let item of diary">
        <div class="textbox">
          <div class="icons" (click)="getnote(item, src)">
            <div class="actBoxIcon" *ngIf="item.value.icon.iconName == 'angry'">
              <img src="./assets/icon/051-angry.png" width="30" height="30" />
            </div>
            <div class="actBoxIcon" *ngIf="item.value.icon.iconName == 'sad'">
              <img src="./assets/icon/051-cry-1.png" width="30" height="30" />
            </div>
            <div
              class="actBoxIcon"
              *ngIf="item.value.icon.iconName == 'lonely'"
            >
              <img src="./assets/icon/051-mute.png" width="30" height="30" />
            </div>
            <div class="actBoxIcon" *ngIf="item.value.icon.iconName == 'blue'">
              <img src="./assets/icon/051-sad-1.png" width="30" height="30" />
            </div>
            <div class="actBoxIcon" *ngIf="item.value.icon.iconName == 'bored'">
              <img
                src="./assets/icon/051-unamused.png"
                width="30"
                height="30"
              />
            </div>
            <div class="actBoxIcon" *ngIf="item.value.icon.iconName == 'tired'">
              <img src="./assets/icon/051-tired.png" width="30" height="30" />
            </div>
            <div class="actBoxIcon" *ngIf="item.value.icon.iconName == 'chill'">
              <img src="./assets/icon/051-smile.png" width="30" height="30" />
            </div>
            <div class="actBoxIcon" *ngIf="item.value.icon.iconName == 'happy'">
              <img src="./assets/icon/051-smiling.png" width="30" height="30" />
            </div>
          </div>

          <div class="actBoxText">
            {{ item.value.time }}<br />
            <div class="textAct">
              <div class="act" *ngFor="let item of item.value.activity">
                {{ item }}
              </div>

              <button mat-icon-button></button>
            </div>
          </div>
        </div>
        <div class="btnG">
          <button
            class="action"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <ion-icon
            style="color: gray"
            name="map-outline"
            *ngIf="item.value.lat"
            (click)="findMe(item.value.lat, item.value.lng)"
          ></ion-icon>
        </div>

        <mat-menu #menu="matMenu">
          <button class="matMenu" mat-menu-item (click)="deleteitem(item.key)">
            <mat-icon>delete_outline</mat-icon>
            <span>delete </span>
          </button>
        </mat-menu>
      </div>

      <ion-fab
        vertical="bottom"
        horizontal="center"
        color="secondary"
        class="createBtn"
      >
        <ion-fab-button (click)="createDiary()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>
