<div class="head">
  <p>setting-pass works!</p>
  <mat-icon mat-dialog-close>close</mat-icon>
</div>


<form [formGroup]="form">
  <ion-item>
    <ion-label position="floating">e-mail</ion-label>
    <ion-input clearInput type="email" formControlName="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">password</ion-label>
    <ion-input clearInput type="text"   formControlName="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">new password</ion-label>
    <ion-input clearInput type="text" formControlName="newPassword"></ion-input>
  </ion-item>
  <br>
  <button mat-raised-button color="primary" (click)="update()">update</button>
</form>