<div id="icon" >
  <span class="material-icons" mat-dialog-close>close</span>
</div>
<div class="container">
  <img src="./assets/4365502.jpg" width="200">
  <h2>คุณเพิ่งทำแบบทดสอบนี้ไป!</h2>
  <p>แบบทดสอบควรทำ 1 ครั้งต่อสัปดาห์ เพื่อวัดผลระดับที่แตกต่าง</p>
</div>
