.container{
  font-family: 'Prompt', sans-serif;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p,h2{
    text-align: center;
  }
}
#icon{
  width: 100%;
  justify-content: flex-end;
  & span{
    margin-left: 95%;
  }
}