<ion-card >
  <ion-card-header></ion-card-header>
  <ion-card-content class="record">
    <img src="./assets/icon/radio.png"  />
    <p *ngIf="status !== null">{{ status }}</p>
    <audio controls="" *ngIf="url">
      <source [src]="sanitize(url)" type="audio/wav" />
    </audio>

    <div class="btnRec">
      <ion-button (click)="initiateRecording()" *ngIf="!recording"
        >record</ion-button
      >
      <ion-button (click)="stopRecording()" *ngIf="recording"
        >stop</ion-button
      ><br />
    </div>
  </ion-card-content>
</ion-card>