<ion-content>
  <div class="container">
    <div class="head">
      
    </div>
    <div class="card">
      <span class="topic">
        {{ news.topic }}
      </span>
      <h6>{{ news.createDT }}</h6>
      <p [innerHTML]="news.article">{{ news.article }}</p>
    </div>
  </div>
</ion-content>
