.textBar {
  display: flex;
  align-items: center;
}
ion-content{
  height: 100%;
}
ion-icon{
  // font-size: 25px;
}
.card{
  padding: 2em;
  height: auto;
  background-color:white;
  // box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.37);
  // // margin-top: 14em;
  // border-top-left-radius: 50px;
  // border-top-right-radius: 50px;
}
*{
  font-family: 'Prompt';
  line-height: 2;
}
.container{
  // background-color: aqua;
  height: 100%;
  width: 100%;
  // background-image: url("/assets/4346023.jpg");
  background-position: right;
  background-size: cover;
}
.topic{
  flex-direction: column;
  font-size: 25px;
  width: 100%;
  display: flex;
}
.head{
  width: 100%;
  height: 35%;
  background-image: url("/assets/4529084.jpg");
  background-size: cover;
}