<ion-content>
  <ion-title><p>แบบทดสอบความเครียด</p></ion-title>
  <div class="container">
    <div *ngFor="let item of quesionArr">
      <div id="quesion" *ngIf="item[Qindex]?.value.quesion">{{item[Qindex]?.value.quesion}}</div>
      <div class="btnAns" *ngIf="item[Qindex]?.value.quesion"  >
        <button *ngFor="let item of ansArr"  (click)="calScore(item.score,$event)">{{item.ans}}</button>
      </div>
      <div class="total" *ngIf="totalcard">
        <img src="./assets/animate-balloons.gif" width="250"> 
        <h1>คะแนนของคุณ</h1>
        <h1>{{total}}</h1>
        <p>{{stressResult}}</p>
      </div>
      <div *ngIf="Qindex==item.length" id=send >
        <h2>ส่งคำตอบของคุณ</h2>
        <button class="submitBtn"(click)="submit()">ส่ง</button>
      </div>
      <button class="submitBtn backBtn"*ngIf="totalcard" (click)="backtoMain()">กลับ</button>
    </div>
  </div>
</ion-content>
